/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Outfit', sans-serif;
}

/* Background */
body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #F8F9FA;
    /* White Smoke */
}

/* Container */
.login-container {
    text-align: center;
}

/* Logo */
.logo {
    margin-bottom: 25px;
    font-size: 32px;
}

.campus {
    color: #006073;
    /* Campus Teal */
}

.cravings {
    color: #FF7300;
    /* Cravings Orange */
}

/* Login Box */
.login-box {
    background: white;
    padding: 35px;
    width: 350px;
    border-radius: 10px;
    font-size: 1.6rem;
}

/* Heading */
.login-box h2 {
    margin-bottom: 20px;
    color: #2B2B2B;
    /* Deep Charcoal */
}

/* Input Group */
.input-group {
    text-align: left;
    margin-bottom: 15px;
}

.form input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 20px;
}

/* Button */
.login-btn {
    width: 100%;
    padding: 12px;
    border: none;
    background: #FF7300;
    /* Cravings Orange */
    color: white;
    font-size: 19px;
    font-weight: 400;
    border-radius: 20px;
    cursor: pointer;
    margin-top: 10px;
}

.btn:hover {
    background: #e86500;
}

/* Register text */
.register {
    margin-top: 15px;
    font-size: 14px;
}

.register a {
    color: #006073;

    text-decoration: none;
}

.register a:hover {
    text-decoration: underline;
}